* {
  box-sizing: border-box;
}

.site-width {
  width: 100%;
  overflow: hidden;
}

.ttl {
  text-align: center;
}

/* ==============================
ヘッダー
============================== */
header {
  margin: 0;
  height: 200px;
}

#header-logo {
  margin: 20px 0 0 40px;
}

#top-nav {
  float: none;
  width: 100%;
  height: 120px;
  position: static;
  overflow: hidden;
}

#top-nav ul {
  width: 100%;
  position: static;
  height: 100px;
  padding: 0;
}

#top-nav ul li {
  width: 50%;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  margin-right: 0;
  padding: 9px;
  font-size: 14px;
}

#top-nav ul li a {
  display: block;
  padding: 0;
}

/* ========================================
Work
======================================== */
.work {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.work img {
  width: 80%;
  height: auto;
  text-align: center;
  min-height: 0;
}

.work p {
  margin: 40px auto;
  width: 90%;
}

/* ========================================
BLOG
======================================== */
.blog {
  width: 100%;
  float: none;
  margin: 20px 0;
  text-align: center;
  overflow: hidden;
}

.blog img {
  width: 50%;
}

.blog button {
  margin-right: 40px;
}

/* ========================================
ABOUT
======================================== */
#about p {
  margin: 0 0 0 20px;;
}

.about_icon {
  float: none;
  margin-top: 30px;
  text-align: center;
}

#introduction {
  margin: 20px;
}

#introduction p {
  padding-bottom: 20px;
}

/* ========================================
CONTACT
======================================== */
.contact_p {
  margin-left: 20px;
}

form {
  padding: 20px;
}

form input[type="text"] {
  width: 90%;
}

form textarea {
  width: 90%;
}

/* ========================================
footer
======================================== */
#bottom-nav {
  float: none;
  width: 100%;
  height: 120px;
  position: static;
  overflow: hidden;
}

#bottom-nav ul {
  width: 100%;
  position: static;
  height: 100px;
  padding: 0;
}

#bottom-nav ul li {
  width: 50%;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  margin-right: 0;
  padding: 9px;
  font-size: 14px;
}

footer p {
  float: none;
  text-align: center;
}
